<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% @events.each do |event| %>
    <div>
      <ul>
        <li> <strong> <%= event.title %> </strong> </li>
        <li> <%= event.description %> </li>
        <li> <%= event.location %> </li>
        <li> <%= event.event_date.strftime("%B %d, %Y") %> </li>
        <li>By: <%= event.creator.to_s %> </li>
      </ul>
      <br>
    </div>

  <% end %>
