<h1>Events#show</h1>

<div>
    <div>
      <ul>
        <li> <strong> <%= @event.title %> </strong> </li>
        <li> <%= @event.description %> </li>
        <li> <%= @event.location %> </li>
        <li> <%= @event.event_date.strftime("%B %d, %Y") %> </li>
        <li>BY: <%= @event.creator.to_s %> </li>
      </ul>
    </div>

<% if current_user %>
 <div> <%= form_with(url: "/events/#{@event.id}/attend", local: true) do |form| %>
    <div class="actions">
      <%= form.submit "Attend"%>
    </div>
     <% end %>
  </div>
<% end %>

    <h3>Attendees</h3>
      <% @event.invitations.each do |invitation| %>
       <p> <%= invitation.to_s %></p>
      <% end %>

</div>
