<h1>Events#show</h1>

<div>
    <div>
      <ul>
        <li> <strong> <%= @event.title %> </strong> </li>
        <li> <%= @event.description %> </li>
        <li> <%= @event.location %> </li>
        <li> <%= @event.event_date.strftime("%B %d, %Y") %> </li>
        <li>BY: <%= @event.creator.to_s %> </li>
      </ul>
    </div>

  <div>
    <% @event.users.each do |user| %>
      <div>
        <ul>
          <li> <%= @event.attendees %> </li>
        </ul>
      </div>
    <% end %>
</div>
</div>
